<div class='container p-5'>
  <div class='form'>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name, required: false, label_html: { class: "white-label"} %>
      <%=f.input :photo,label_html: { class: "white-label"}, as: :file %>
      <%= f.submit "Submit", class: "mt-2 btn btn-secondary w-100" %>
    <% end %>
  </div>
  <%= link_to root_path do %>
    <div class="mt-2 btn btn-info w-100">Back to lists</div>
  <%end%>
</div>
